
<section class="generations-section">

  <h2>Les différentes générations</h2>

  <div class="generations-list">

    @for (gen of generations; track gen.name) {

      <button
        type="button"
        class="generation-card"
        [class.active]="selectedGeneration === gen.name"
        (click)="selectGeneration(gen.name)"
      >
        <span>🎮</span>
        <span class="generation-name">
          {{ gen.name | titlecase }}
        </span>
      </button>

    }

  </div>

</section>

